@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
body{
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    position: fixed;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background-color: #fff;

    top: 0;
}
.header-logo{
    margin: 0 20px
}

.header-topic{
    margin: 0 20px;
    position: absolute;
    right: 0; 
}
/************************************************************/
section{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    overflow: scroll
}
.message{
    min-height: 40px;
    margin-top: 4px;
    flex-flow:row wrap;
    align-items: center;
    display: flex;
    padding-left: 8px;
    max-width: 100%;
    background-color: #fff;
    word-break: break-word;
    box-sizing: border-box;
    min-width: 50px;
}
.private{
    background-color: #FFDEDE;
}
.public{
    background-color: #fff;
}
.status{
    background-color: #DCDCDC;
}
/************************************************************/
footer{
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
footer input{
    border: none;
    width: 300px;
    height: 30px;
    margin-left: 17px ;
}
button{
    background-color: #fff;
    z-index: 1;
    position: absolute;
    width: 26px;
    height: 26px;
    right: 18px;
    border: none;
    padding: 0;
}
::placeholder{
    font-style: italic;
    font-weight: 400;
    color:#000000;
    font-size: 18px;
}

ion-icon{
    width: 100%;
    height: 100%;
}
.names,.to{
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
    word-break: keep-all;
}
.time{
    color: #AAAAAA;
    word-break: keep-all;
    padding-right: 10px;
}
.message-text{
    display: flex;
    word-break: break-word;
}